{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/selector.css" %}?ver=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Selector</title>
  </head>
  <body>
    <div class="select">
      <nav>
        <ul>
          <li>
            <input type="radio" id="kamen" name="shop" value="kamen" />
            <label for="kamen" id="kamen_label">
              <img
                src="https://i.imgur.com/inTtFRH.png"
                width="50px"
                height="50px"
                draggable="false"
              />
            </label>
          </li>
          <li>
            <input type="radio" id="illiakan" name="shop" value="illiakan" />
            <label for="illiakan" id="illiakan_label">
              <img
                src="https://i.imgur.com/QXnwSY8.png"
                width="50px"
                height="50px"
                draggable="false"
              />
            </label>
          </li>
          <li>
            <input type="radio" id="echidna" name="shop" value="echidna" />
            <label for="echidna" id="echidna_label">
              <img
                src="https://i.imgur.com/6bsWUhQ.png"
                width="50px"
                height="50px"
                draggable="false"
              />
            </label>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
