{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/common.css" %}?ver=1" /> <link
    rel="stylesheet" href="{% static "css/not_common.css" %}?ver=1" />

    <title>Kamen Tier</title>
  </head>
  <body>
    <tier>
      <nav>
        <ul>
          <div class="maintb" align="center" id="icon">
            <div class="lain">
              <div width="50px" align="center" id="Aclass" class="rank">OP</div>
              <div width="500px" class="renkin" id="Aicon"></div>
            </div>
            <div class="lain">
              <div align="center" id="Bclass" class="rank">1티어</div>
              <div width="500px" class="renkin" id="Bicon"></div>
            </div>
            <div class="lain">
              <div align="center" id="Cclass" class="rank">2티어</div>
              <div width="500px" class="renkin" id="Cicon"></div>
            </div>
            <div class="lain">
              <div align="center" id="Dclass" class="rank">3티어</div>
              <div width="500px" class="renkin" id="Dicon"></div>
            </div>
            <div class="lain">
              <div align="center" id="Eclass" class="rank">4티어</div>
              <div width="500px" class="renkin" id="Eicon"></div>
            </div>
          </div>

          <div border="1" class="maintb">
            <div class="introduce">
              OP ~ 4티어까지 원하는 위치에 드래그 & 드롭!
            </div>

            <div id="seticon" class="renkin">
              {% for i in engvs %}
              <div class="imgtag" draggable="true" id="{{ i }}">
                <img
                  src="{% get_static_prefix %}imgdata/{{i}}.webp"
                  width="50px"
                  height="50px"
                  draggable="false"
                />
                <div class="text" width="120px">{{i}}</div>
              </div>
              {% endfor %}
            </div>
          </div>
        </ul>
      </nav>
    </tier>
  </body>
</html>
