{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/index.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/selector.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/common.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/not_common.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/footer.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/header.css" %}?ver=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/favicon/favicon-32x32.png" %}">
    <title>LoTiCal</title>
  </head>
  <body>
    <header style="z-index:2;">
      {% include "includes/header.html" %}
    </header>
    
    <div class="select" style="top:15px; z-index:1;">
      {%include "includes/selector.html"%}
    </div>

      <div id="main">
        <nav>
          <ul>
            <div border="1" class="maintb" align="center" id="icon">
              <div class="lain">
                <div width="50px" align="center" id="Aclass" class="rank">OP</div>
                <div width="500px" class="renkin" id="Aicon">
                  {%for tier1 in context.tier1%}
                  {% if tier1 != '' %}
                  <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier1}}.webp" draggable="false" name="{{tier1 }}">
                  <div class="text" width="120px" >{{tier1}}</div></div>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
              <div class="lain">
                <div align="center" id="Bclass" class="rank">1티어</div>
                <div width="500px" class="renkin" id="Bicon">
                  {%for tier2 in context.tier2%}
                  {% if tier2 != '' %}
                    <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier2}}.webp" draggable="false" name="{{tier2 }}">
                      <div class="text" width="120px" >{{tier2}}</div></div>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
              <div class="lain">
                <div align="center" id="Cclass" class="rank">2티어</div>
                <div width="500px" class="renkin" id="Cicon">
                  {%for tier3 in context.tier3%}
                  {% if tier3 != '' %}
                    <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier3}}.webp" draggable="false" name="{{tier3 }}">
                      <div class="text" width="120px" >{{tier3}}</div></div>
                  {%endif%}
                  {%endfor%}

                </div>
              </div>
              <div class="lain">
                <div align="center" id="Dclass" class="rank">3티어</div>
                <div width="500px" class="renkin" id="Dicon">
                  {%for tier4 in context.tier4%}
                  {% if tier4 != '' %}
                    <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier4}}.webp" draggable="false" name="{{tier4 }}">
                      <div class="text" width="120px" >{{tier4}}</div></div>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
              <div class="lain">
                <div align="center" id="Eclass" class="rank">4티어</div>
                <div width="500px" class="renkin" id="Eicon">
                  {%for tier5 in context.tier5%}
                  {% if tier5 != '' %}
                    <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier5}}.webp" draggable="false" name="{{tier5 }}">
                      <div class="text" width="120px" >{{tier5}}</div></div>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
            </div>
            <div border="1" class="maintb">
              <div id="seticon" class="renkin">
               {%for tierout in context.tierout%}
                  {% if tierout != '' %}
                      <div class="imgtag"><img class="icon2" src="{% get_static_prefix %}imgdata/{{tierout}}.webp" draggable="false" name="{{tierout }}">
                      <div class="text" width="120px" >{{tierout}}</div></div>
                  {%endif%}
               {%endfor%}
              </div>
              </div>
          </div>
      </div>
      </ul>
    </nav>
    {% comment %} div 닫힘 코드가 부족하여 위치 가 이상해 보이는거 수정 & if문 추가하여 없으면 안보이게 수정{% endcomment %}


   {% comment %} 툴팁이랑 마우스의 위치 좌표를 통일 시키기 위해서 최 외각으로 이동하여 따로 만듬 {% endcomment %}
  <footer>
     {%include "includes/footer.html"%}
  </footer>
  <div>{% for test in engv_name %}
    <div class="tooltip_image" id="{{ test }}"><div class="tooltip_div">
      <canvas  id="{{ test }}a" width="300px" height="250px"></canvas>
      <canvas  id="{{ test }}b" width="300px" height="250px"></canvas>
    </div></div>
  {% endfor %}</div>

  <video autoplay muted loop name="bg" id="video-background">
      <source src="/static/imgdata/{{context.raid}}.mp4" type="video/mp4">
  </video>

  <script src="{% static "js/allResult.js" %}?ver=24" > </script>
  <script src="{% static "js/chart.js" %}?ver=1" > </script>
  
  <script> 
    var testalldata={{engv_statics|safe}} 
    test(testalldata)
  </script>
  <script>
     var path = "{{context.raid}}";
     var page = document.getElementsByName("shop");
      
     for(let i=0; i<page.length; i++){
       if(page[i].value==path){
         page[i].checked=true;
       }
     }
  </script>
</body>
</html>