{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/header.css" %}?after" />
    <link rel="stylesheet" href="{% static "css/index.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/selector.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/common.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/not_common.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/footer.css" %}?ver=1" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/favicon/favicon-32x32.png" %}">
    <title>LoTiCal</title>
  </head>
  <body>
    <header>
      {% include "includes/header.html" %}
    </header>
    <div class="select" style="left: 440px; top:15px"   >
      <nav>
        <ul>
          <li>
            <input type="radio" id="{{raid}}" name="shop" value="{{raid}}" checked />
            
            <label for="{{raid}}">
              <img src="{% get_static_prefix%}imgdata/{{raid}}.png" width="50px"
              height="50px" draggable="false" />
            </label>
          </li>
        </ul>
      </nav>
    </div>

      <div><button id="send">통계 결과 보기</button></div>
      <div id="main">
        <nav>
          <ul>
            <div border="1" class="maintb" align="center" id="icon">
              <div class="lain">
                <div width="50px" align="center" id="Aclass" class="rank">OP</div>
                <div width="500px" class="renkin" id="Aicon">
                  {%for tier1 in tier1%}
                  {% if tier1 != '' %}
                  <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier1}}.webp" draggable="false">
                  <div class="text" width="120px" >{{tier1}}</div></div>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
              <div class="lain">
                <div align="center" id="Bclass" class="rank">1티어</div>
                <div width="500px" class="renkin" id="Bicon">
                  {%for tier2 in tier2%}
                  {% if tier2 != '' %}
                    <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier2}}.webp" draggable="false">
                      <div class="text" width="120px" >{{tier2}}</div></div>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
              <div class="lain">
                <div align="center" id="Cclass" class="rank">2티어</div>
                <div width="500px" class="renkin" id="Cicon">
                  {%for tier3 in tier3%}
                  {% if tier3 != '' %}
                    <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier3}}.webp" draggable="false">
                      <div class="text" width="120px" >{{tier3}}</div></div>
                  {%endif%}
                  {%endfor%}

                </div>
              </div>
              <div class="lain">
                <div align="center" id="Dclass" class="rank">3티어</div>
                <div width="500px" class="renkin" id="Dicon">
                  {%for tier4 in tier4%}
                  {% if tier4 != '' %}
                    <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier4}}.webp" draggable="false">
                      <div class="text" width="120px" >{{tier4}}</div></div>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
              <div class="lain">
                <div align="center" id="Eclass" class="rank">4티어</div>
                <div width="500px" class="renkin" id="Eicon">
                  {%for tier5 in tier5%}
                  {% if tier5 != '' %}
                    <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tier5}}.webp" draggable="false">
                      <div class="text" width="120px" >{{tier5}}</div></div>
                  {%endif%}
                  {%endfor%}
                </div>
              </div>
            </div>
            <div border="1" class="maintb">
              <div id="seticon" class="renkin">
               {%for tierout in tierout%}
                  {% if tierout != '' %}
                      <div class="imgtag"><img class="icon" src="{% get_static_prefix %}imgdata/{{tierout}}.webp" draggable="false">
                      <div class="text" width="120px" >{{tierout}}</div></div>
                  {%endif%}
               {%endfor%}
              </div>
              </div>
          </div>
      </div>
      </ul>
    </nav>
      <video autoplay muted loop name="bg" id="video-background">
        <source src="/static/imgdata/{{raid}}.mp4" type="video/mp4">
      </video>
    <div>
      {%include "includes/footer.html"%}
    </div>
    <script src="{% static "js/userResult.js" %}?ver=1" > </script>
  </body>
</html>