body {
  padding-top: 85px;
}

.maintb {
  display: flex;
  float: right;
  margin-top: 30px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
}
#main {
  display: flex;
  float: left;
  margin-left: 150px;
  width: 1000px;
}
body {
  background-color: azure;
  user-select: none;
}

.lain {
  display: flex;
  flex-direction: row;
}
.rank {
  min-height: 100px;
}


#seticon {
  width: 300px;
  height: 1500px;
  border: solid 2px black;

  margin-right: 0;
  background-color: slategray;
  display: flex;
  flex-direction: row;
}

.renkin { /* 내부 아이콘들의 box가 중앙 정렬 되도록 수정 */
  flex: 1;
  min-width: 1000px;
  min-height: 100px;
  border: solid 2px black;
  background-color: slategray;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.icon{
  width: 70px;
  height: 60px;
  padding: 4px 0px;
}


#Aclass {
  background-color: red;
  font-size: 30px;
  width: 80px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Bclass {
  background-color: orange;
  font-size: 30px;
  width: 80px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Cclass {
  background-color: yellow;
  font-size: 30px;
  width: 80px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Dclass {
  background-color: greenyellow;
  font-size: 30px;
  width: 80px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Eclass {
  background-color: cornflowerblue;
  font-size: 30px;
  width: 80px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ebox {  /* 이미지 아이콘이 들어간 박스 아이콘이 박스 중앙으로 오도록 수정*/
  width: 80px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4px 1px;
}

.dragging {
  opacity: 0.5;
}

.renkin.dragover {
  background-color: purple;
}

.awakeningname {
  border: solid 1px wheat;
  background-color: wheat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 75px;
  padding: 1rem;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  padding: 15px 10px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select input[type="radio"] {
  display: none;
}
.select input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  height: 70px;
  width: 70px;
  border: 1px solid #333;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select input[type="radio"] + label {
  background-color: #fff;
  color: #333;
}
.select input[type="radio"]:checked + label {
  background-color: #333;
  color: #fff;
}

#viewAllResult {
  display: inline-block;
  position: fixed;
  right: 200px;
  top: 110px;

  width: 200px;
  height: 35px;
  background-color: #5c75e6;
  color: white;
  font-size: 17px;
}

#viewAllResult:hover {
  background-color: #6682ff;
  box-shadow: 0px 0px 0px 5px rgba(192, 194, 250, 0.7);
}

.text{
  border: solid 1px black;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 70px;
  text-align: center;
  font-size: 11px;
}

/* styling of the tooltip display */
.tooltip_image {
  display: none;
  position: absolute;
  top: -60px;
  z-index: 1;
  padding: 8px;
  font-size: 1rem;
  border-radius: 2px;
  animation: fadeIn 0.6s;
  background-color: #696969FF;
  min-height: 150px;
  min-width: 250px;
  border: solid 2px black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
 }