footer {
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;

  margin: auto;
  height: 15px;
  padding: 1;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 3px 5px 1px #000300;

  font-family: "Noto Sans KR", sans-serif;
}
