{% load static %}
<div class="content">
  <div class="characterinfo_wrap">
    <dl class="characterinfo">
      <img src="{{prof.img}}" class="characterimg" width="400px" />
      <dt>캐릭터 이름 :&nbsp;{{prof.name}}&nbsp;</dt>
      <dd><span></span></dd>
      <dt>아이템 레벨 :&nbsp;{{prof.avglv}}&nbsp;</dt>
      <dd><span></span></dd>
    </dl>
  </div>
  <div class="equipment_wrap">
    <h3 id="equipment_list">장착 장비 목록</h3>
    <div class="equipment_table">
      <div class="equipment">
        <div class="equipment_img"><img src="{{eqmt.1.Icon}}" /></div>
        <div class="equipment_text">{% if eqmt.1.exceed %}초월 : {{eqmt.1.exceed}}<br />{% endif %}{{eqmt.1.Name}}</div>
      </div>
      <div class="equipment">
        <div class="equipment_img"><img src="{{eqmt.5.Icon}}" /></div>
        <div class="equipment_text">{% if eqmt.5.exceed %}초월 : {{eqmt.5.exceed}}<br />{% endif %}{{eqmt.5.Name}}</div>
      </div>
      <div class="equipment">
        <div class="equipment_img"><img src="{{eqmt.2.Icon}}" /></div>
        <div class="equipment_text">{% if eqmt.2.exceed %}초월 : {{eqmt.2.exceed}}<br />{% endif %}{{eqmt.2.Name}}</div>
      </div>
      <div class="equipment">
        <div class="equipment_img"><img src="{{eqmt.3.Icon}}" /></div>
        <div class="equipment_text">{% if eqmt.3.exceed %}초월 : {{eqmt.3.exceed}}<br />{% endif %}{{eqmt.3.Name}}</div>
      </div>
      <div class="equipment">
        <div class="equipment_img"><img src="{{eqmt.4.Icon}}" /></div>
        <div class="equipment_text">{% if eqmt.4.exceed %}초월 : {{eqmt.4.exceed}}<br />{% endif %}{{eqmt.4.Name}}</div>
      </div>
      <div class="equipment">
        <div class="equipment_img"><img src="{{eqmt.0.Icon}}" /></div>
        <div class="equipment_text">{{eqmt.0.Name}}</div>
      </div>
    </div>
  </div>
</div>
