@charset "UTF-8";

@font-face{
	font-family: "n";
	src: url("n.ttf");
}

#body{
	font-family: "n";
	background-size: 50%;
}

#nbTbl{
	margin-left:auto;
	margin-right: auto;
	width : 500px;
}

#th{
	background-color: #E9FFE0;
	color:#034F83;
	font-size: 30pt;
	height: 50px;
}

#nbTbl .td1{
	background-color:  #D4F4FA;
	font-size: 20pt;
}

#nbTbl .td2{
	background-color:  pink;
	font-size: 30pt;
}

#nbTbl .button{
	margin-left:auto;
	margin-right: auto;
	background-color:  pink;
	font-size: 30pt;
}